@media (max-width: 1200px) and (min-width: 768px) {
  [class*="__container"] {
    max-width: 95%;
  }

  .header__nav {
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
}

.header__burger {
  display: none;
}

@media (min-width: 1200px) {
  .header__nav {
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
}
